<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="~{header :: header}" />
<body>
 	<nav th:insert="~{header :: nav}" />
	<div class="container text-center">
		<h1 th:text="#{error.report}" />
        <div th:if="${param.invalid != null or param.expired != null}" th:text="#{error.report.invalid}" />
        <div th:unless="${param.invalid != null or param.expired != null}" class="m-3">
			<div class="form-group row" th:if="${path}">
				<label class="col-4 col-form-label text-right font-weight-bold" th:text="#{error.report.path}" />
				<span th:text="${path}" />
			</div>
			<div class="form-group row" th:if="${timestamp}">
				<label class="col-4 col-form-label text-right font-weight-bold" th:text="#{error.report.timestamp}" />
				<span th:text="${timestamp}" />
			</div>
			<div class="form-group row" th:if="${status}">
				<label class="col-4 col-form-label text-right font-weight-bold" th:text="#{error.report.status}" />
				<span th:text="${status}" />
			</div>
			<div class="form-group row" th:if="${error}">
				<label class="col-4 col-form-label text-right font-weight-bold" th:text="#{error.report.error}" />
				<span th:text="${error}" />
			</div>
			<div class="form-group row" th:if="${message}">
				<label class="col-4 col-form-label text-right font-weight-bold" th:text="#{error.report.message}" />
				<span th:text="${message}" />
			</div>
			<div class="form-group row" th:if="${exception}">
				<label class="col-4 col-form-label text-right font-weight-bold" th:text="#{error.report.exception}" />
				<span th:text="${exception}" />
			</div>
			<div class="form-group row" th:if="${trace}">
				<label class="col-8 col-form-label text-right" th:text="#{error.report.trace}" />
				<span th:utext="'&lt;!--'" th:remove="tag" />
				
				<span th:remove="tag" th:text="${trace}" />
				
				<span th:utext="'--&gt;'" th:remove="tag" />
			</div>
     	</div>
	    <hr />
		<div class="alert alert-warning">
	        <div th:if="${param.invalid != null or param.expired != null}" th:text="#{error.report.invalid.solution}" />
	        <div th:unless="${param.invalid != null or param.expired != null}">
	            <div th:switch="${status}">
                	<p th:case="999" th:text="#{error.report.reload.solution}" />
                	<p th:case="404" th:text="#{error.report.notfound.solution}" />
	                <p th:case="*" th:text="#{error.report.support.solution}" />
	            </div>
			</div>
		</div>
	</div>
</body>
</html>