<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{app.title}"></title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
	function confirmLogout(event) {
		if (!confirm(/*[[#{logout.confirm}]]*/)) event.preventDefault();
	}
	</script>
</head>
<body class="container">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	    <div class="container">
	        <a class="navbar-brand" th:href="${@environment.getProperty(@homeController.PATH_ROOT)}" th:text="#{app.title}" />
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
	                aria-controls="navbarResponsive"
	                aria-expanded="false">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item active" sec:authorize="!isAuthenticated() || #authentication.name==null">
	                    <a class="nav-link" th:href="${@environment.getProperty(@loginController.PATH_LOGIN)}" th:text="#{app.login}" />
	                </li>
	                <li class="nav-item active" sec:authorize="!isAuthenticated() || #authentication.name==null">
	                    <a class="nav-link" th:href="${@environment.getProperty(@registerController.PATH_REGISTER)}" th:text="#{app.register}" />
	                </li>
	                <li class="nav-item active" sec:authorize="isAuthenticated() && #authentication.name!=null">
	                    <a class="navbar-brand" th:href="${@environment.getProperty(@profileController.PATH_PROFILE)}" th:text="#{app.welcome(${#authentication.name})}" />
	                </li>
	                <li class="nav-item active" sec:authorize="isAuthenticated() &&  #authentication.name!=null">
	                    <a class="nav-link" th:href="${@environment.getProperty(@loginController.PATH_LOGOUT)}" th:onclick="confirmLogout(event)" th:text="#{app.logout}" />
	                </li>
	                <li class="nav-item dropdown">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
	                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
	                       th:text="#{lang.change}"/>
	                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	                        <a th:unless="${#locale.language} == '${@itemisApplication.LANG_EN}'" class="dropdown-item" th:href="${@queryStringWithLang.apply(@itemisApplication.LANG_EN)}" th:text="#{lang.en}"/>
	                        <a th:unless="${#locale.language} == '${@itemisApplication.LANG_DE}'" class="dropdown-item" th:href="${@queryStringWithLang.apply(@itemisApplication.LANG_DE)}" th:text="#{lang.de}"/>
	                        <a th:unless="${#locale.language} == '${@itemisApplication.LANG_HU}'" class="dropdown-item" th:href="${@queryStringWithLang.apply(@itemisApplication.LANG_HU)}" th:text="#{lang.hu}"/>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
</body>
</html>