<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:replace="~{${@itemisApplication.VIEW_HEADER} :: head}" />
<body>
 	<nav th:replace="~{${@itemisApplication.VIEW_HEADER} :: nav}" />
	<div class="container text-center">
		<div class="button-group" sec:authorize="!isAuthenticated() || #authentication.name==null">
			<h1 th:text="#{app.empty}" />
	    </div>
		<div class="button-group" sec:authorize="isAuthenticated() && #authentication.name!=null" th:insert="~{${@mainController.VIEW_MAIN} :: body}">
		</div>
	</div>
</body>
</html>