<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{app.title}"></title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	    <div class="container">
	        <a class="navbar-brand" href="/" th:text="#{app.title}" />
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
	                aria-controls="navbarResponsive"
	                aria-expanded="false">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item active" sec:authorize="!isAuthenticated()">
	                    <a class="nav-link" th:href="@{/login}" th:text="#{app.login}" />
	                </li>
	                <li class="nav-item active" sec:authorize="!isAuthenticated()">
	                    <a class="nav-link" th:href="@{/register}" th:text="#{app.register}" />
	                </li>
	                <li class="nav-item active" sec:authorize="isAuthenticated()">
	                    <a class="navbar-brand" th:href="@{/profile}" th:text="#{app.welcome(${username})}" />
	                </li>
	                <li class="nav-item active" sec:authorize="isAuthenticated()">
	                    <a class="nav-link" th:href="@{/logout}" th:text="#{app.logout}" />
	                </li>
	                <li class="nav-item dropdown">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
	                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
	                       th:text="#{lang.change}"/>
	                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	                        <a class="dropdown-item" th:href="@{?(lang=en)}" th:text="#{lang.en}"/>
	                        <a class="dropdown-item" th:href="@{?(lang=de)}" th:text="#{lang.de}"/>
	                        <a class="dropdown-item" th:href="@{?(lang=hu)}" th:text="#{lang.hu}"/>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
	<div class="container text-center">
		<div class="button-group" sec:authorize="!isAuthenticated()">
			<h1 th:text="#{app.empty}" />
	    </div>
		<div class="button-group" sec:authorize="isAuthenticated()">
		    <div id="dialogue-page">
				<div class="dialogue-container">
					<div class="dialogue-header">
        				<h2 th:text="#{app.dialogue}" />
        				<span th:text="#{app.help}" />
					</div>
					<ul id="messages" class="text-left">
		
					</ul>
					<hr/>
					<form id="dialogueForm" name="dialogueForm" th:action="@{/main}" method="post" th:onsubmit="sendMessage(event)">
						<div class="form-group">
							<div class="input-group clearfix">
								<input type="text" id="message" name="q"
									autocomplete="off" autofocus
									class="form-control" />
									&nbsp;
								<button type="submit"
                                    class="btn btn-lg btn-primary">
                                	<label th:text="#{app.submit}"></label>
                            	</button>
									&nbsp;
								<button type="reset" th:onclick="clearMessages(event)"
                                    class="btn btn-lg btn-primary">
                                	<label th:text="#{app.clear}"></label>
                            	</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">
function sendMessage(event) {
	var message = document.getElementById('message');
	var content = message.value.trim();
	if (content) {
	    var frm = $('#dialogueForm');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function(response) {
				message.value = '';
				onResponse(content, response);
            },
            error: function(data) {
                alert(/*[[#{app.errormessage}]]*/);
            }
        });
	} else alert(/*[[#{app.nomessage}]]*/);
	event.preventDefault();
	message.scrollIntoView();
	message.focus();
}
function onResponse(message, response) {
	var messageElement = document.createElement('li');

	messageElement.classList.add('message-data');

	var element = document.createElement('i');
	var text = document.createTextNode(message);
	element.appendChild(text);

	messageElement.appendChild(element);


	var textElement = document.createElement('p');
	var messageText = document.createTextNode(response);
	textElement.appendChild(messageText);

	messageElement.appendChild(textElement);

	document.querySelector('#messages').appendChild(messageElement);
	document.querySelector('#messages').scrollTop = document
			.querySelector('#messages').scrollHeight;

}
function clearMessages(event) {
	window.location.reload();
}
</script>
<noscript>[(#{app.noscript})]</noscript>
</body>
</html>